<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="headerNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{active:currentTab=='recipe'}" >
                <a href="#" class="nav-link" (click)="tabChanged('recipe')">
                    Recipes
                </a>
            </li>

            <li class="nav-item" [ngClass]="{active:currentTab=='shopping'}">
                <a href="#" class="nav-link" (click)="tabChanged('shopping')">
                    Shopping List
                </a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item navbar-right dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="manageDropdown" data-toggle="dropdown">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="manageDropdown">
                    <a href="#" class="dropdown-item">Save Data</a>
                    <a href="#" class="dropdown-item">Fetch Data</a>
                </div>
            </li>
        </ul>
    </div>
</nav>