<div class="row align-items-center">
    <div class="col-9">
        <h1>{{recipe.name}}</h1>
    </div>

    <div class="col-3">
        <div class="dropdown">
            <button
            type="button"
            class="btn btn-primary dropdown-toggle"
            id="manageRecipeBtn"
            data-toggle="dropdown">
            Manage Recipe</button>

            <div class="dropdown-menu" aria-labelledby="manageRecipeBtn">
                <a href="#" class="dropdown-item">Add To Shopping List</a>
                <a href="#" class="dropdown-item">Edit Recipe</a>
                <a href="#" class="dropdown-item">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" style="max-width: 100%;"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>